<!DOCTYPE html>
<html>
  <head>
    <title>Registration</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'dashboard', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <!-- NavBar Container -->
    <div class="dashboard-style">
        <div class="dashboard-content">
        
            <!-- === Sección Header: Logo, Botón Sign Out (Salir) === -->
            <header class="header-content">

                <!-- Logo SILMA como botón para NavBar -->
                <%= image_tag 'logoWhite.png', alt: 'Logo', class: 'logo-dashboard', id: 'logo', style: 'cursor: pointer;', onclick: 'toggleNavBar()' %>

                
                <div class="navbar-nav">
                    <div class="nav-item text-nowrap">

                    <a id='logout-link' href='#' style='cursor: pointer;' onclick='logout()'>
                        <%= image_tag 'logoutWhite.svg', alt: 'logout', class: 'logout' %>
                        <%= image_tag 'logoutRed.svg', alt: 'logout', class: 'logout-hover' %>
                    </a>

                    </div>
                </div>

            </header>


            <!-- === Header Section: Logo, Sign Out Button (Exit) === -->
            <div class="container-fluid">
                <div class="row">

                    <nav id="sideBarMenu" class="navBarWidth">
                        <div class="position-sticky pt-3 sidebar-sticky">

                        <!-- 1. Foto de Perfil -->
                        <div class="profilePhoto">
                            <!-- LOGIC -->
                        </div>
                        <p> <!-- ESPACIO --> </p>


                        <!-- 2. Nombre de Usuario -->
                        <div class="profileName">
                            <!-- LOGIC -->
                            <div>
                                <p>Welcome, <%= @current_user.name %>!</p>
                            </div>
                        </div>
                        <p> <!-- ESPACIO --> </p>


                        
                        <ul class="nav flex-column">

                            <!-- 3. Stores -->
                            <li class="nav-item">
                                <!-- LOGIC -->
                                <div>
                                <a class="navLink" onClick="">
                                    <img class="navbarIcons" src='/assets/add_story.svg' />
                                    <span class="navbarText" >Stores</span>
                                </a>
                                </div>
                            </li>
                            <p> <!-- ESPACIO --> </p>


                            <!-- 4. Books -->
                            <li class="nav-item">
                                <!-- LOGIC -->
                                <div>
                                <a class="navLink" onClick="">
                                    <img class="navbarIcons" src='/assets/stories.svg' />
                                    <span class="navbarText" >Books</span>
                                </a>
                                </div>
                            </li>
                            <p> <!-- ESPACIO --> </p>

                        </ul>

                        </div>
                    </nav>

                </div>
            </div>

            <%= yield %>

        </div>
    </div>
  </body>
</html>