<!DOCTYPE html>
<html>
  <head>
    <title>Registration</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag 'logout' %>
  </head>

  <body>

    <!-- Dashboard Container -->
    <div class="dashboard-style">
        <div class="dashboard-content">
        
            <!-- === Header === -->
            <header class="header-content">

                <!-- Logo -->
                <div class="dashboard-logo-container">
                    <%= image_tag 'logoWhite.png', alt: 'Logo', class: 'logo-dashboard', id: 'logo', style: 'cursor: pointer;', onclick: 'toggleNavBar()' %>
                </div>

                <!-- Logout -->
                <div class="navbar-nav">
                    <div class="nav-item text-nowrap">

                    <a id='logout-link' href='#' style='cursor: pointer;' onclick='logout()'>
                        <%= image_tag 'logoutWhite.svg', alt: 'logout', class: 'logout' %>
                        <%= image_tag 'logoutRed.svg', alt: 'logout', class: 'logout-hover' %>
                    </a>

                    </div>
                </div>

            </header>

            <!-- === NavBar === -->
            <div class="container-fluid">
                <div class="row">

                    <span class="dashboardContent-wrapper">

                        <nav id="sideBarMenu" class="navBarWidth">
                            <div class="position-sticky pt-3 sidebar-sticky">

                            <!-- Profile Photo -->
                            <div class="profilePhoto">
                                <img src="https://mdbcdn.b-cdn.net/img/new/avatars/5.webp" class="rounded-circle shadow-4"
                                style="width: 100px;" alt="Avatar" />
                            </div>
                            <p> <!-- ------- --> </p>


                            <!-- Welcome Username -->
                            <div class="profileName">
                                <div>
                                    <p>Welcome, <%= @current_user.name %>!</p>
                                </div>
                            </div>
                            <p> <!-- ------- --> </p>

                            <!-- === Sections === -->
                            
                            <ul class="nav flex-column">

                                <!-- Stores -->
                                <li class="nav-item">
                                    <div id="dashboard-content-id">
                                    <!-- Vanilla Attempt -->
                                    <%= link_to 'Load Content', load_content_vanilla_path, remote: true %>
                                    
                                    <!-- AJAX Attempt -->
                                    <a class="navLink" onClick="loadContent('store_cards'); return false;">
                                        <img class="navbarIcons" src='/assets/add_story.svg' />
                                        <span class="navbarText" >Stores</span>
                                    </a>
                                    </div>
                                </li>
                                <p> <!-- ------- --> </p>


                                <!-- Books -->
                                <li class="nav-item">
                                    <div>
                                    <a class="navLink" onClick="loadContent('load_books'); return false;">
                                        <img class="navbarIcons" src='/assets/stories.svg' />
                                        <span class="navbarText" >Books</span>
                                    </a>
                                    </div>
                                </li>
                                <p> <!-- ------- --> </p>

                            </ul>

                            </div>
                        </nav>



                        <!-- Dashboard Content Area -->
                        <main class="editorsWidth">
                            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 border-bottom">

                                <!-- Search Bar -->
                                <div class="input-group">
                                    <div class="form-outline">
                                        <input type="search" id="form1" class="form-control" />
                                        <label class="form-label" for="form1">Search</label>
                                    </div>
                                    <button type="button" class="btn btn-primary">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                                
                            </div>

                            <!-- Dashboard Content -->

                            <!-- Title -->
                            <div class="dashboard-content-title">
                                <h1> Stores </h1>
                            </div>

                            <!-- Automated Cards -->
                            <!-- Will load Bookstores that exist in the DB -->
                            <div class="container-for-content">

                                <!-- IMP: For some reason, Store button onClick=loadContent(store_cards)
                                     isnt doing anything. Fixed the routing errors, just, no cards... -->

                                <!-- This works, but it should be a partial, thats what loadContent() should do -->
                                <% @stores.each do |store| %>
                                    <%= render partial: 'store_card', locals: { store: store } %>
                                <% end %>
                            </div>
                            
                        </main>

                    </span>

                </div>
            </div>

            <%= yield %>

        </div>
    </div>
  </body>
</html>