<!-- app/views/stores/_store_card.html.erb -->

<!-- Store Card Menu -->
<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
            <%= link_to 'Info', '#', class: 'nav-link active', data: { section: 'info' } %>
        </li>
        <li class="nav-item">
            <%= link_to 'Stock', '#', class: 'nav-link', data: { section: 'stock' } %>
        </li>
        <li class="nav-item">
            <%= link_to 'Config', '#', class: 'nav-link', data: { section: 'config' } %>
        </li>
        </ul>
    </div>


    <!-- Content Sections -->
    <!-- app/views/stores/_store_card.html.erb -->
    <div class="card-body" id="store-card-content">
      <%= render partial: 'info', locals: { store: store }  %>
    </div>


    <!-- Stock Table for Current Store -->
    <div>
        <% stock_records_for_store = store.stocks %>
        <%= render partial: 'stock_table', locals: { stocks: stock_records_for_store } %>
    </div>
    
</div><br>