<p style="color: green"><%= notice %></p>

<h1>Books</h1>

<!-- Search Bar -->
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 border-bottom">
    <div class="input-group">
        <div class="form-outline">
            <input type="search" id="form1" class="form-control" />
            <label class="form-label" for="form1">Search</label>
        </div>
        <button type="button" class="btn btn-primary">
            <i class="fas fa-search"></i>
        </button>
    </div>
</div>


<!-- Original Ruby on Rails Template
<div id="books">
  <% @books.each do |book| %>
    <%= render book %>
    <p>
      <%= link_to "Show this book", book %>
    </p>
  <% end %>
</div>

<%= link_to "New book", new_book_path %>
-->

<div class="container-for-books">
    <% @books.each do |book| %>
        <%= render partial: 'book_card', locals: { book: book } %>
    <% end %>
</div>
